---
layout: default
---
<div>

  {{ content }}

  <h2>Blogs</h2>

  <div>&nbsp;</div>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.category == 'post'%}
        <li>
          {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | absolute_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
          </h2>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <hr>

  <h2>Other than Blogs</h2>
  <div>&nbsp;</div>

  <ul class="other-list" style="list-style-type: none">
    {% for post in site.posts %}
      {% if post.category != 'post'%}
        <li>
          {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | absolute_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
          </h2>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
