---
layout: default
---
<div>

  {{ content }}

  <h2>Blogs</h2>

  <div>&nbsp;</div>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | absolute_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <hr>

  <h2>Mems</h2>

  <ul class="post-list">
    {% for post in site.mems %}
      {% if post.tag != 'post'%}
        <li>
          <!-- {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span> -->

          <h2>
            <a class="post-link" href="{{ post.url | absolute_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
          </h2>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h2>Moods</h2>

  <ul class="post-list">
    {% for post in site.moods %}
      <li>
        <!-- {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        {% assign tag = "moods" | prepend:"    's " %} -->
        <!-- <span class="post-meta">{{ post.date | date: date_format | append: tag }}</span> -->
        <h2>
          <a class="post-link" href="{{ post.url | absolute_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
